/*
* @Author: lenovo
* @Date:   2019-03-03 21:25:15
* @Last Modified by:   lenovo
* @Last Modified time: 2019-03-03 22:20:44
*/
h1{
	width: 200px;
	height: 200px;
	color: pink;
	background: url("../img/1.jpg") no-repeat 0 0;
	background-size: cover;
}